.boton{
  border-radius: 8px;
  border-color: #ffffff;
}

.botonprincipal{
    background-color: #5880B3;
    text-decoration: none;
    border-radius: 8px;
    border-color: none;
}

.titulo{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 40px;
    color: #424242;
}

.titulocarrusel{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 28px;
    color: #ffffff;
}

.subtitulo{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 28px;
    color: #5880B3;
}

.subparrafo{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #424242;
}

.subcarrusel{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #ffffff;
}

.parrafo{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #424242;
}

.texcard{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #424242;
}

a{
    text-decoration: none;
}